* {
    margin: 0;
    border: none;
}
body {
    min-height: 100vh;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}
#first {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#second {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
    max-width: 500px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}
#input-box {
    height: 100px;
    width: 100%;
    font-size: 5rem;
    font-weight: 500;
    text-align:right;
    line-height: 1;
    padding: 0.5rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;

    border-radius: 5px ;
}
#input-box:hover {
    background-color: rgb(233, 233, 233);
}
#symbol-div {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
.symbol {
    background-color:rgb(100, 100, 100);
    color: white;
}
#number-div {
    height: auto;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    box-sizing: border-box;
}
#clear {
    background-color: rgb(100, 100, 100);
    color: white;
}
#clear:hover {
    background-color: coral;
    color: white;
}
.nums {
    width: 100%;

    aspect-ratio: 1/1;

    max-width: 100%;
    min-height: 48px;

    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.538);
    font-size: 2.5em;
    font-weight: 700;
    font-family: system-ui;
    box-sizing: border-box;

    touch-action: manipulation;
    user-select: none;

    transition: transform 0.05s ease;
}
#equal {
    background-color: rgb(119, 255, 0);
    font-size: 2.5rem; 
    font-family: system-ui;
}
#equal:hover{
    color: rgb(255, 255, 255);
    background-color: coral;
}
.nums:hover{
    color: rgb(255, 255, 255);
    background-color: coral;
}
.nums:active{
    transform: scale(0.9);
}
#ac:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}
#input-box.shrink {
    font-size: 2rem;
}
#input-box.shrinker {
    font-size: 1rem;
}

/* Tablet and smaller screens */
@media (max-width: 600px) {
    .nums {
        height: 65px;
        font-size: 2rem;

        box-shadow: none;
    }
    #input-box {
        font-size: 3.5rem;
        height: 80px;
    }
}

/* Mobile screens */
@media (max-width: 400px) {
    #wrapper {
        max-width: 100%;
        padding: 0.75rem;
    }
    .nums {
        height: 50px;
        font-size: 1.5rem;
        border: 3px solid rgb(255, 255, 255);
    }
    #input-box {
        font-size: 2rem;
        min-height: 60px;
        height: 60px;
        margin-bottom: 1rem;
        padding: 0.25rem;
    }
    #number-div {
        column-gap: 0.35rem;
        row-gap: 0.35rem;
    }
}

/* Very small screens */
@media (max-width: 320px) {
    .nums {
        height: 50px;
        font-size: 1.2rem;
    }
    #input-box {
        font-size: 1.5rem;
        min-height: 50px;
        height: 50px;
    }
}


